@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gilroy";
  src: url("./assets/fonts");
}
* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply font-inter text-body2 font-normal;
  }
  p {
    @apply font-normal;
  }
  h1 {
    @apply font-gilroy font-semibold text-title1;
  }
  h2 {
    @apply font-gilroy font-semibold text-title2;
  }
  h3 {
    @apply font-gilroy font-semibold text-title3;
  }
  h4 {
    @apply font-gilroy font-semibold text-title4;
  }
  h5 {
    @apply font-gilroy font-semibold text-title5;
  }
  sub {
    @apply font-gilroy;
  }
}

@layer utilities {
  /* subtittles */
  .sub_one {
    @apply text-subtitle1 font-semibold;
  }
  .sub_two {
    @apply text-subtitle2 font-semibold;
  }
  .description {
    @apply text-description font-medium;
  }
  /* ==================== */
  /* buttons */
  .main {
    @apply text-btn_main font-bold;
  }
  .header_tab {
    @apply font-gilroy text-header_tabs font-normal text-btn_text no-underline hover:text-primary focus:text-primary active:text-primary transition-colors duration-300 ease-in text-center;
  }
  .header_btn {
    @apply text-header_btn font-bold px-[10px] py-0 w-[130px] h-[40px] font-gilroy hover:bg-[#f6f6f6]  text-main bg-white text-center border-none rounded-[16px] cursor-pointer transition-colors duration-300 ease-in;
  }
  /* ==================== */
  .placeholder {
    @apply text-placeholder;
  }
  .error {
    @apply text-error;
  }
  .tab {
    @apply text-tabs;
  }

  /* header */
  .min-w-320 {
    min-width: 320px;
  }

  .header_responsive {
    @apply xxl:max-w-[1312px] xl:max-w-[1192px] lg:max-w-[1032px] lg:p-0 md:max-w-[1024px] md:px-10 min-w-320 max-w-full px-16 mx-auto relative;
  }

  /* ==================== */
}
